.vs/ProjectEvaluation/spawneditorapi.metadata.v9.bin
.vs/ProjectEvaluation/spawneditorapi.projects.v9.bin
.vs/ProjectEvaluation/spawneditorapi.strings.v9.bin
.vs/SpawnEditorApi/CopilotIndices/17.14.1641.39856/CodeChunks.db
.vs/SpawnEditorApi/CopilotIndices/17.14.1641.39856/SemanticSymbols.db
.vs/SpawnEditorApi/DesignTimeBuild/.dtbcache.v2
.vs/SpawnEditorApi/FileContentIndex/a36f3199-34f4-4be3-bd5a-4774c09f327f.vsidx
.vs/SpawnEditorApi/v17/.futdcache.v2
.vs/SpawnEditorApi/v17/.suo
.vs/SpawnEditorApi/v17/DocumentLayout.backup.json
.vs/SpawnEditorApi/v17/DocumentLayout.json
spawneditorapi.client/obj/Debug/package.g.props
spawneditorapi.client/obj/Debug/spawneditorapi.client.esproj.FileListAbsolute.txt
SpawnEditorApi.Server/obj/Debug/net9.0/.NETCoreApp,Version=v9.0.AssemblyAttributes.cs
SpawnEditorApi.Server/obj/Debug/net9.0/apphost.exe
SpawnEditorApi.Server/obj/Debug/net9.0/SpawnEditorApi.Server.assets.cache
SpawnEditorApi.Server/obj/Debug/net9.0/SpawnEditorApi.Server.csproj.FileListAbsolute.txt
SpawnEditorApi.Server/obj/Debug/net9.0/SpawnEditorApi.Server.GlobalUsings.g.cs
SpawnEditorApi.Server/obj/Debug/net9.0/staticwebassets.references.upToDateCheck.txt
SpawnEditorApi.Server/obj/Debug/net9.0/staticwebassets.removed.txt
SpawnEditorApi.Server/obj/project.assets.json
SpawnEditorApi.Server/obj/SpawnEditorApi.Server.csproj.nuget.dgspec.json
SpawnEditorApi.Server/obj/SpawnEditorApi.Server.csproj.nuget.g.targets
SpawnEditorApi.Server/obj/SpawnEditorApi.Server.csproj.nuget.g.props
